body{
    display: flex;
    flex-direction: column;
}

#listado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid gray;
    padding-top: 20px;
    margin-top: 20px;
}

.mini{
    width: 200px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.thumbnail{
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}

#detalle{
    display: flex;
    flex-direction: row;
}

#img-detail{
    width: 400px;
    height: 400px;
    border-radius: 20px;
}